@model Comun.DTO.Seguridad.LoginDto;
@{
    Layout = "~/Views/Shared/_Login.cshtml";    
}

@section Styles {

}

<div class="auth-box p-4 bg-white rounded">
    <div id="loginform">
        <div class="logo">
            <h3 class="box-title mb-3">Sign In</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <form asp-controller="Login" asp-action="Index" class="form-horizontal mt-3 form-material" id="loginform" >
                    <div class="form-group mb-3">
                        <div class="">
                            <input class="form-control" type="text" required="" placeholder="Username" asp-for="Usuario" />
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="">
                            <input class="form-control" type="password" required="" placeholder="Password" asp-for="Clave"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex">
                            <div class="checkbox checkbox-info pt-0">
                                <input id="checkbox-signup" type="checkbox" class="material-inputs chk-col-indigo">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
                            <div class="ms-auto">
                                <a href="javascript:void(0)" id="to-recover" class="link font-weight-medium"><i class="fa fa-lock me-1"></i> Forgot pwd?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-4 mb-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info d-block w-100 waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center">
                            <div class="social mb-3">
                                <a href="javascript:void(0)" class="btn  btn-facebook" data-bs-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </a>
                                <a href="javascript:void(0)" class="btn btn-googleplus" data-bs-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0 mt-4">
                        <div class="col-sm-12 justify-content-center d-flex">
                            <p>Don't have an account? <a href="authentication-register1.html" class="text-info font-weight-medium ms-1">Sign Up</a></p>
                        </div>
                    </div>

                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    }

                    ¿No tienes una cuenta? <a asp-controller="Acceso" asp-action="Registrar">Registrate ya!</a>
                </form>
            </div>
        </div>
    </div>
    <div id="recoverform">
        <div class="logo">
            <h3 class="font-weight-medium mb-3">Recover Password</h3>
                    
            <span class="text-muted">Enter your Email and instructions will be sent to you!</span>
        </div>
        <div class="row mt-3 form-material">
            <!-- Form -->
            <form class="col-12" action="index.html">
                <!-- email -->
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="email" required="" placeholder="Username">
                    </div>
                </div>
                <!-- pwd -->
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn d-block w-100 btn-primary text-uppercase" type="submit" name="action">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    
}